on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
    - 'protocol/**' # Push events to matching protocol/foo/bar/v*, i.e. protocol/foo/bar/v1.0, protocol/foo/bar/v20.15.10
    - 'observability/**' # Push events to matching observability/foo/bar/v*
    - 'sql/**' # Push events to matching sql/v*
    - 'binding/**' # Push events to matching binding/foo/bar/v*
    
name: Create Draft Releases

jobs:

  release-tags:
    name: draft-release

    runs-on: ubuntu-latest

    steps:

    - name: Create Draft Release
      id: create_draft_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: true
        prerelease: false
