name: Go Format

on:
  push:
    branches: [ 'main', 'release-*' ]
  pull_request:
    branches: [ 'main', 'release-*' ]

jobs:

  format:
    name: Format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Go 1.20.x
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
          cache-dependency-path: v2/go.sum
          check-latest: true

      - name: Go Format
        shell: bash
        run: |
          gofmt -s -w $(find -type f -name '*.go' -print)

      - name: Verify
        shell: bash
        run: |
          if [[ $(git diff-index --name-only HEAD --) ]]; then
              echo "Found diffs in:"
              git diff-index --name-only HEAD --
              echo "${{ github.repository }} is out of style. Please run go fmt."
              exit 1
          fi
          echo "${{ github.repository }} is formatted correctly."
