name: Go Format

on:
  push:
    branches: [ 'main', 'release-*' ]
  pull_request:
    branches: [ 'main', 'release-*' ]

permissions:
  contents: read
  
jobs:

  format:
    name: Format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: 1.24
          cache-dependency-path: v2/go.sum
        id: go

      - name: Go Format
        shell: bash
        run: |
          gofmt -s -w $(find -type f -name '*.go' -print)

      - name: Verify
        shell: bash
        run: |
          if [[ $(git diff-index --name-only HEAD --) ]]; then
              echo "Found diffs in:"
              git diff-index --name-only HEAD --
              echo "${{ github.repository }} is out of style. Please run go fmt."
              exit 1
          fi
          echo "${{ github.repository }} is formatted correctly."
