name: Code Style

on:
  push:
    branches: [ 'main', 'release-*' ]
  pull_request:
    branches: [ 'main', 'release-*' ]

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go 1.18.x
        uses: actions/setup-go@v4
        with:
          go-version: 1.18.x
          cache-dependency-path: v2/go.sum
        id: go

      - id: golangci_configuration
        uses: andstor/file-existence-action@v2
        with:
          files: .golangci.yaml

      - name: Go Lint on ./v2
        if: steps.golangci_configuration.outputs.files_exists == 'true'
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54
          working-directory: v2

