name: Integration Tests

on:
  push:
    branches: [ 'main', 'release-*' ]
  pull_request:
    branches: [ 'main', 'release-*' ]

jobs:

  integration:
    name: CloudEvents
    strategy:
      matrix:
        # Only test one go version: the integration tests don't seem to pass if NATS runs more one running at a time.
        go-version: [1.14.x]
        platform: [ubuntu-latest]

    runs-on: ${{ matrix.platform }}

    services:
      kafka:
        image: lensesio/fast-data-dev
        env:
          ADV_HOST: localhost
        ports:
          - 9091:9091
          - 9092:9092

      natss:
        image: nats-streaming:0.22.1
        ports:
          - 4222:4222

      amqp:
        image: scholzj/qpid-dispatch
        env:
          QDROUTERD_CONFIG_OPTIONS: |
            router {
                mode: standalone
                id: ZTg2NDQ0N2Q1YjU1OGE1N2NkNzY4NDFk
                workerThreads: 4
            }
            log {
                 module: DEFAULT
                 enable: trace+
                 timestamp: true
            }
            listener {
                 role: normal
                 host: 0.0.0.0
                 port: amqp
                 saslMechanisms: ANONYMOUS
            }
        ports:
          - 5672:5672

    steps:

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Test
        run: ./hack/integration-test.sh

