name: Release Pipeline

on:
  push:
    branches:
      - release-*

permissions:  
  contents: read

jobs:
  semver:
    name: Calculate Next Release
    runs-on: ubuntu-latest
    outputs:
      next: ${{ steps.ggsv.outputs.next}}
    steps:
      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 1.24
          cache-dependency-path: v2/go.sum

      - name: Install Dependencies
        run: go install tableflip.dev/ggsv@latest

      - name: Look at Ref
        id: ggsv
        run: |
          NEXT=`ggsv next-patch $GITHUB_SERVER_URL/${{ github.repository }}.git ${{ github.ref }}`
          echo "::set-output name=next::$NEXT"

  mainmodule:
    permissions:
      contents: write
    name: Release Main Module
    runs-on: ubuntu-latest
    needs: semver
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Create Release ${{ needs.semver.outputs.next }}
        uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e # v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ needs.semver.outputs.next }}
          release_name: Release ${{ needs.semver.outputs.next }}
          prerelease: false

  submodules:
    permissions:
      contents: write
    name: Release Sub-Modules
    runs-on: ubuntu-latest
    needs:
      - semver
      - mainmodule
    env:
      VERSION: ${{ needs.semver.outputs.next }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 1.24
          cache-dependency-path: v2/go.sum

      - run: git pull

      - name: Update Modules
        run: |
          ./hack/tag-release.sh

      - name: Commit Repoint
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git diff-index --quiet HEAD || (git commit -a -m "Repoint modules for release ${{ needs.semver.outputs.next }}." --allow-empty && git push)

      - name: Tag Modules
        run: ./hack/tag-release.sh --tag --push

  examples:
    permissions:
      contents: write 
    name: Update Examples
    runs-on: ubuntu-latest
    needs:
      - semver
      - mainmodule
      - submodules
    env:
      VERSION: ${{ needs.semver.outputs.next }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 1.24
          cache-dependency-path: v2/go.sum

      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: git pull

      - name: Update Examples
        run: ./hack/tag-release.sh --samples

      - name: Commit Repoint
        env:
          tag: ${{ matrix.module }}/${{ needs.semver.outputs.next }}
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git diff-index --quiet HEAD || (git commit -a -m "Repoint examples, post release ${{ needs.semver.outputs.next }}." --allow-empty && git push)
